body{
    background-color: #d3d3d3 ; 
}

.container{
    background-color: #fff ;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}

.upper, .middle, .lower{
  display: grid;
  grid-gap: 20px;
  background-color: #000;
  padding: 20px;
}

.middle, .lower{
    margin-top: 15px;
}

.upper-item{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.item1{
    grid-column: 1/12;
    grid-row: 1;
}

.item2{
    grid-column: 1/12;
    grid-row: 2;
}

.upperUpper-container{
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    background-color: #2f414f;
}

.upperUpper-item{
    background-color: tomato;
    padding: 10px;
}

.item11{
    grid-column:  1/3;
    grid-row: 1;
}

.item12{
    grid-column: 3/9;
}

.item13{
    grid-column: 9/12;
}

.upperLower-container{
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    background-color: orangered;
}

.upperLower-item{
    background-color: orange;
    padding: 10px;
}

.item21{
    grid-column: 1/12;
    grid-row: 1;
}

.middle-item{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}


.item3{
    grid-column: 1/8;
    grid-row: 1;
}

.item4{
    grid-column: 8/12;
    grid-row: 1;
}


.lower-item{
    background-color: rgba(186, 204, 29, 0.8);
    padding: 20px;
}

.item5{
    grid-column: 1/12;
    grid-row: 1;
}

.middleLeft-container{
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    background-color: #333;
}

.middleLeft-item{
    background-color: blue;
    padding: 10px;
}

.item31{
    grid-column: 1/12;
    grid-row: 1;
}

.item32{
    grid-column: 1/12;
    grid-row: 2;
}








